/* main.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000; /* Черный фон для лучшей видимости AR сцены */
}

a-scene {
    position: absolute;
    width: 100%;
    height: 100%;
}
